body {
    font-family: 'Playfair Display';
    margin: 0;
    background-color: rgb(236, 233, 233);
}

/* Header */
.menu{
    background-color: rgb(151, 33, 33);
    text-align: center;
    box-shadow: 0 20px 150px rgba(0, 0, 0, 0.9);
}

.menu-name{
    margin: 0;
    padding: 2% 0 5% 0;
    
    font-size: 68px;
    color: rgb(236, 233, 233);
}

.menu-links{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    padding-bottom: 5%;

    list-style-type: none;
}

.menu-links-option{
    flex: 0 0 33%;

    list-style: none;
    
    font-size: 32px;
    font-weight: 600;
    color: rgb(236, 233, 233);
}

.menu-links-option a{
    text-decoration: none;
    color: rgb(255, 174, 0);
}

/* Main */
.back-button {
    display: inline-block;
}

@keyframes breathing {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

.back-button div{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 174, 0);
    background-color: rgb(114, 34, 34);
    box-shadow: 2px 2px 10px gray;
    transition: all 0.2s ease-in-out;
    animation: breathing 7s ease-in-out infinite;
}
  
.back-button:hover div{
    transform: translateY(-2px);
    box-shadow: 2px 0 10px lightblue;
}
  
  