/*Special*/
body{
    font-family: 'Playfair Display';
    margin: 0;
    background-image: url("../images/back-patern.webp");

}

/* Header */
.menu{
    background-color: rgb(151, 33, 33);
    text-align: center;
    box-shadow: 0 20px 150px rgba(0, 0, 0, 0.9);
}

.menu-name{
    margin: 0;
    padding: 2% 0 5% 0;
    
    font-size: 68px;
    color: rgb(236, 233, 233);
}

.menu-links{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    padding-bottom: 5%;

    list-style-type: none;
}

.menu-links-option{
    flex: 0 0 33%;

    list-style: none;
    
    font-size: 32px;
    font-weight: 600;
    color: rgb(236, 233, 233);
}

.menu-links-option a{
    text-decoration: none;
    color: rgb(255, 174, 0);
}

/* Main */
.principal-enter{
    margin: 5% auto;
    width: 50%;
}

.principal-enter-paragraph{
    margin: 0;
    padding: 0% 5%;

    font-size: 32px;
    font-weight: 500;
    line-height: 75px;
    color: rgb(151, 33, 33);

    background-color: rgba(236, 233, 233, .99);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) ;
}

.second-enter{
    height: auto;
    width: 100%;

    background-color: rgb(151, 33, 33);
    box-shadow: 0 -20px 100px rgba(0, 0, 0, 0.9);
}

.second-enter-box{
    padding: 5% 0; 
}

.second-enter-paragraph{
    margin: 0% auto;
    padding: 5% 7%;
    width: 50%;

    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 75px;
    color: rgb(236, 233, 233);;
    border: solid rgba(243, 243, 243, .2) 2px;
}

.third-enter{
    height: auto;
    width: 100%;
    margin-top: 10%;


    background-color: rgb(255, 153, 0);
    box-shadow: 0 -20px 100px rgba(0, 0, 0, 0.9);
}

.third-enter-box{
    padding: 5% 0;
}

.third-enter-paragraph{
    margin: 0 auto;
    width: 50%;

    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    color: rgb(236, 233, 233);;

}

.third-enter-images{
    margin: 5% auto;
    display: inline-block;
    width: 100%;
    
    background-color: white;
    border-radius: 2px;
    text-align: center;
}

.third-enter-images img{
    padding-top: 1%;
    margin: 0 5%;

    max-height: 200px;
    max-width: 500px;
}

/* Footer */

footer{
    background-color: rgb(0, 0, 0);;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer p{
    color: rgb(236, 233, 233);
    margin: 0;
}
