body {
    font-family: 'Playfair Display';
    margin: 0;
    background-color: rgb(236, 233, 233);
}

/* Header */
.menu{
    background-color: rgb(151, 33, 33);
    text-align: center;
}

.menu-name{
    margin: 0;
    padding: 10% 0;
    
    font-size: 68px;
    color: rgb(236, 233, 233);
}

.menu-links{
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    padding-bottom: 10%;

    list-style-type: none;
}

.menu-links-option{
    flex: 0 0 33%;

    list-style: none;
    
    font-size: 32px;
    font-weight: 600;
    color: rgb(236, 233, 233);
}

.menu-links-option a{
    text-decoration: none;
    color: rgb(255, 174, 0);
}

/* Main */
a {
    text-decoration: none;
}

.recipes-parent {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 50px;
    column-gap: 50px;

    width: 100%;
}

.recipes-child {
    list-style: none;
    flex: 0 0 28%;
    
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all .5s ease-in-out;
}

.recipes-child ul {
    padding: 0;
    font-size: 28px;
    color: white !important;
    text-shadow: 0 5px 10px rgb(0, 0, 0);
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipes-child img {
    width: 100%;
    height: auto;
    filter: brightness(85%);
}

.recipes-child:nth-child(-n+3) {
    margin-top: 50px;
}

.recipes-child:nth-child(1),
.recipes-child:nth-child(4) {
    padding-left: 20px;
}
.recipes-child:nth-child(3),
.recipes-child:nth-child(6) {
    padding-right: 20px;
}

.recipes-child:hover {
    transform: scale(1.2);
    transition: all .5s ease-in-out;
    z-index: 1;
}

.recipes-child:not(:hover) {
    transform: scale(1);
    transition: .5s ease-in-out;
}

.recipes-child:hover img {
    filter: brightness(70%) blur(1px);
}

.recipes-child:hover ul {
    transform: scale(1.3) translate(-40%, -40%);
    transition: all .5s ease-in-out;
}

.recipes-child:not(hover) ul {
    transform: scale(1) translate(-48%, -50%);
    transition: all .5s ease-in-out;
}